

* {box-sizing: border-box}

.full-tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%
}

.full-tablink:hover {
    background-color: #777;
}

.full-tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Home-full {
    background-color: red;
}

#News-full {
    background-color: green;
}

#Contact-full {
    background-color: blue;
}
#About-full {
    background-color: orange;
}